* {
  box-sizing: border-box;
  list-style:none;
  text-decoration: none; 
  padding: 0;
  margin: 0;
}

body {
  background: #000;
}

.container {
  max-width: 1055px;
  /* background: #000; */
  margin: 0 auto;
}

.header .container{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.header {
  background: #EFEFEF;
  height: 70px;
  color: #EFEFEF;
}

.header__logo img{
  max-width: 50px
}

.header__menu {
  width: 530px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu__list li{
  display: inline;
}

.header__menu__list li:not(:first-child){
margin-left: 45px;
}

.header__menu__list a {
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.mainScreen .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burgerCard {
  margin-top: 100px;
  height: 453px;
  width: 330px;
  border: 2px solid #A47D1C;
  padding: 40px 30px 40px 40px;
  position: relative;
}

.burgerCard__title {
  font-size: 72px;
  font-family: "Aguafina Script";
  transform: rotate(-8deg);
}

.composition__list {
  color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  padding: 15px 40px;
}

.burgerCard__price {
  color: #fff;
  font-size: 24px;
  font-family: 'Roboto Slab';
  margin: 20px 0px 0px 70px;
}

.burgerCard__add {
  color: #fff;
  position: absolute;
  right: 75px;
  bottom: 60px;
}

.burgerCard__add span {
  position: absolute;
  transition: all .5s;
}

.burgerCard__add__counter {
  opacity: 0;
}

.active .burgerCard__add__plus{
  transform: translateX(25px);

}

.active .burgerCard__add__minus{
  transform: translateX(-25px);
}

.active .burgerCard__add__counter {
  margin-left: 7px;
  opacity: 1;
}

.sliderWrapper {
  margin-top:200px;
  width:400px
}

 .slick-prev::before {
  background: none;
} 

.slick-arrow {
  width: 31px !important;
  height: 31px !important;
}

.slick-next:before, .slick-prev:before {
    content: none !important;
}

.slick-list {
max-width: 500px; 
}

.slick-list img {
  margin: 0 auto;
}

.slick-slide {
  opacity: 0;
  transform: scale(0.8);
  transition: all  .2s;
  transition-timing-function: cubic-bezier(.25,.1,.25,1);
}

.slick-slide.slick-active {
   transition-timing-function: cubic-bezier(0.0051, 0.8424, 0.2593) !important; 
   transition: all .6s !important;
  opacity: 1;
  transform: scale(1);
}

.FoodMenu {
  padding-top: 60px;
}

.FoodMenu__BurgersTitle {
  color: #fff;
  font-family: 'GothicA1Regular';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.FoodMenu__Modify {
  margin-top: 60px;
}

.FoodMenu__Modify .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FoodMenu__Modify__line {
  height: 1px;
  background: #EFEFEF;
}

.FoodMenu__Modify__Category {
  transform: translateX(-20px);
  padding: 35px 0 25px;
  display: flex;
  max-width: 420px;
  justify-content: space-between;
}

.FoodMenu__Modify__Category__item {
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 6px;
  color: #fff;
  letter-spacing: 1.4px;
  border: none;
  background: none;
  cursor: pointer;
}

.FoodMenu__Modify__Category__item.active {
  background: #C4C4C4;
  color: #000;
}

.FoodMenu__Modify__Sort {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100px
}

.FoodMenu__Modify__Sort__Text {
  color: #fff;
  font-family: "Roboto";
}

.FoodMenu__itemCards {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
  flex-wrap:  wrap;
}

.FoodMenu__itemCard__Photo img {
  max-height: 165px;
  text-align: center;
}

.FoodMenu__itemCard__Title {
  text-align: center;
  color: #fff;
  font-family: "Roboto";
  font-size: 24px;
}

.FoodMenu__itemCard__Ingredients {
  margin-top: 15px;
  margin-left: 35px;
}

.FoodMenu__itemCard__Ingredients li{
  color: #E5E5E5;
  line-height: 22px;
}

.FoodMenu__itemCard__Order {
  margin: 25px auto;
  display: flex;
  justify-content: space-between;
  color: #fff;
  max-width:145px;
}

.FoodMenu__itemCard__Order__ChangeCount {
  display: flex;
  justify-content: space-between;
  width: 70px;
}

.FoodMenu__itemCard__Order__Minus, .FoodMenu__itemCard__Order__Plus {
  background: none;
  border: none;
}

.FoodMenu__itemCard__Order__price {
  font-size: 24px;
  font-family: 'GothicA1Regular';
}

.Cart__Title {
  color: #fff;
  font-family: 'GothicA1Regular';
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.Cart {
  padding-top: 60px;
}

.Cart__item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px 0;
}

.Cart_ChangeCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
}

.Cart__item__Photo {
  max-height: 80px;
}

.Cart__item__Name, .Cart__item__price, .Cart_ChangeCount__counter, .Cart__totelProduct {
  font-family: 'GothicA1Regular';
  color: #fff;
}

.Cart__item__Name {
  font-size: 18px;
}

.Cart__item__infoWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 880px
}

.Cart__item_Remove{
  background: none;
  border: none;
  transform: rotate(45deg);
}

.Cart__item__infoInnerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 440px;
}

.Cart__item + .Cart__item {
  border-top: 1px solid #444444;
}

.Cart__Wrapper {
  margin-top: 80px;
}

.Cart__totelProduct {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}